In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Set only features we need
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]

In [4]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [5]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [6]:
# Split features/target
X = df[['Pclass', 'Sex', 'Age', 'Fare']]
y = df['Survived']
X

     Pclass  Sex   Age     Fare
0         3    0  22.0   7.2500
1         1    1  38.0  71.2833
2         3    1  26.0   7.9250
3         1    1  35.0  53.1000
4         3    0  35.0   8.0500
..      ...  ...   ...      ...
886       2    0  27.0  13.0000
887       1    1  19.0  30.0000
888       3    1  28.0  23.4500
889       1    0  26.0  30.0000
890       3    0  32.0   7.7500

[891 rows x 4 columns]

In [7]:
# 80/20 split training w/ random state & stratify
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

default_model = DecisionTreeClassifier(random_state=42)
default_model.fit(X_train, y_train)

default_model.score(X_test, y_test)

0.8100558659217877

In [8]:
sample_X = X_test.head(10).copy()
sample_preds = default_model.predict(sample_X)
print("Sample predictions (first 10 test rows):")
for pred, true in zip(sample_preds, y_test.head(10)):
    print("Predicted:", pred, " | Actual:", true)

Sample predictions (first 10 test rows):
Predicted: 0  | Actual: 0
Predicted: 0  | Actual: 0
Predicted: 0  | Actual: 1
Predicted: 0  | Actual: 0
Predicted: 1  | Actual: 1
Predicted: 0  | Actual: 1
Predicted: 1  | Actual: 1
Predicted: 1  | Actual: 0
Predicted: 0  | Actual: 0
Predicted: 0  | Actual: 0

In [9]:
# Gini decision tree
gini_model = DecisionTreeClassifier(criterion='gini', random_state=42)
gini_model.fit(X_train, y_train)

# Gini Score (DEFAULT MODEL IS GINI)
gini_model.score(X_test, y_test)

0.8100558659217877

In [10]:
# Entropy decision tree
entropy_model = DecisionTreeClassifier(criterion='entropy', random_state=42)
entropy_model.fit(X_train, y_train)

# Entropy Score
entropy_model.score(X_test, y_test)

0.8156424581005587